.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-items {
    margin-right: 18px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo {
    width: 120px;
    height: 100px;
}

.dummy-card {
    width: 200px;
    background-color: azure;
    border: 1px solid blue;
    text-align: center;
    margin-top: 12px;
    margin-right: 12px;
    place-self: center;
    border-radius: 12px;
}